.rx-about {

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;

	img.polaroid {
		box-sizing: content-box;
		align-self: center;
		width: 80%;
		margin-bottom: 1em;
	}

	p {
		color: $dark-gray;
		font-weight: 300;
	}

}