

rx-navbar {

	font-size: 1rem;

	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;

	flex: 0 0 $navbar-height;

}

.rx-navbar {
	transition: all $transition-params;
	
	z-index: 5;
	height: $navbar-height;

	position: relative;
	display: flex;

	background: $dark-gray;
	border-bottom: 2px solid $gray;

	justify-content: space-between;
	align-items: center;


	> span.title {
		margin-left: 0.5em;
		font-size: 1.5em;
		font-weight: 300;
		color: $gray;

		&:after {
			content: 'Rex Blankets';

			// @include mobile-or-tablet {
			// 		content: 'Rex Blankets';
			// }

		}


	}

	> i {

		cursor: pointer;
		font-size: 2em;
		color: $gray;

	}

	&.open {
		border-color: $blue;

		.menu {
			border-color: $blue;
		}

		> i {
			color: $blue;
		}
	}

	.menu {
		position: absolute;
		z-index: 4;
		display: flex;
		flex-flow: column nowrap;

		top: calc(#{$navbar-height} + 2px);
		background: $light-gray;
		border-bottom: 2px solid $gray;
		width: 100%;
		padding: 2em 0;
    bottom: 0;
    left: 0;
    height: 11em;

		a {
			font-size: 1.25em;
			text-align: center;
			padding: 0.5em 0;
			font-weight: 300;
		}

	}
}