
<nav class="rx-navbar" ng-class="{open: $ctrl.menuOpen}">
	
	<span class="title">
	</span>

	<div class="menu expanded">
		<a 
			ng-repeat="route in $ctrl.routes" 
			ui-sref="{{ ::route }}" 
			ui-sref-active="active"
		>{{ ::route | toCase:'title' }}</a>
	</div>

	<i 
		id="menu-trigger" 
		class="icon ellipsis vertical"
		ng-click="$ctrl.menuOpen = !$ctrl.menuOpen"
	></i>

	<div class="menu dropdown animate-if" ng-if="$ctrl.menuOpen">
		<a 
			ng-repeat="route in $ctrl.routes" 
			ui-sref="{{ ::route }}" 
			ui-sref-active="active"
		>{{ ::route | toCase:'title' }}</a>
	</div>

	<div 
		class="faded background"
		ng-click="$ctrl.menuOpen = false"
	></div>

</nav>