

rx-navbar {

	font-size: 1rem;

	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;

	flex: 0 0 $navbar-height;

	* {
		transition: all $transition-params;
	}
}

.rx-navbar {

	z-index: 5;

	height: $navbar-height;

	@include mobile-or-tablet {
		height: $navbar-height-mobile;
	}

	position: relative;
	display: flex;

	background: $dark-gray;
	border-bottom: 1px solid $blue;
	@include mobile-or-tablet {
		border-bottom: 2px solid $blue;
	}

	justify-content: space-between;
	align-items: center;


	> span.title {
		margin-left: 0.5em;
		font-weight: 300;
		color: $gray;
		margin-top: -0.25em;

		&:after {

			font-family: 'Aleo Italic';
			font-size: 1.25em;
			content: 'Rex Blankets & Stablewares';

			@include mobile-or-tablet {
				font-size: 2.9em;
				font-family: 'Aleo';
				content: 'Rex';
			}

		}

	}

	> i#menu-trigger {

		display: none;
		@include mobile-or-tablet {
			display: initial;
		}

		cursor: pointer;
		font-size: 2em;
		color: $gray;

	}

	.faded.background {
		transition: opacity 250ms ease-in-out 90ms;
		visibility: hidden;
		opacity: 0;
  	position: fixed;
	}

	&.open {

		@include mobile-or-tablet {
			border-color: $blue;
		}

		.menu.dropdown {
			border-color: $blue;
		}

		> i#menu-trigger {
			color: $blue;
		}

		.faded.background {
			@include mobile-or-tablet {
	    	content:'';
	    	visibility: visible;

	    	z-index: -1;
	    	bottom: 0;
	    	left: 0;
	    	
	    	background: $dark-gray;
	    	opacity: 0.4;

	    	height: calc(100% - #{$navbar-height-mobile});
	    	width: 100%;
			}
		}
	}

	.menu {

		a {
			text-align: center;

			padding-left: 1em;
			font-weight: 100;
			font-size: 1.05em;
			color: $gray;

			@include mobile-or-tablet {
				padding: 0.5em 0;
				font-weight: 300;
				font-size: 1.25em;
				color: $blue;
			}

			&:hover, &.active {
				color: $blue;
				@include mobile-or-tablet {
					color: $dark-blue;
				}
			}
				
		}

		&.expanded {

			flex: 1;

			display: flex;
			@include mobile-or-tablet {
				display: none;
			}

			justify-content: flex-end;

			padding-right: 2em;

		}

		&.dropdown {

			display: none;
			@include mobile-or-tablet {
				display: flex;
			}

			z-index: 4;
			position: absolute;
	    bottom: 0;
	    left: 0;
	    
			flex-flow: column nowrap;

			top: $navbar-height;
			@include mobile-or-tablet {
				top: $navbar-height-mobile;
			}
			
			background: $light-gray;
			border-bottom: 2px solid $gray;
			width: 100%;
			padding: 2em 0;
	    height: 15em;

		}

	}


}