
// Colors

$gray: #516E8A;

$blue: #628EDD;
$blue_dark: #0D325D;

$green: #88A64E;
$green_dark: #085734;

$rust: rgba(189, 137, 125, 1);
$rust_dark: #994433;


// Palette assignments

$primary: #fff;
$secondary: #fff;

$base: $gray;

