

@import './common/variables.scss';
@import './common/common.scss';

@import './components/rx-app/rx-app.scss';
@import './components/rx-navbar/rx-navbar.scss';
@import './components/rx-home/rx-home.scss';

// ROOT STYLES

* {
	// transition: all 250ms ease-in-out;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: $dark-gray;
	margin: 0;
}

body {

	font-size: 1rem;
	font-family: 'Roboto', sans-serif;

	display: flex;
	flex-flow: column nowrap;

	.main {
		background: $app-background;
		flex: 1;

		padding-top: $navbar-height;
		@include mobile-or-tablet {
			padding-top: $navbar-height-mobile;
		}

	}

}