
@import './common/variables.scss';
@import './common/common.scss';

@import './components/rx-app/rx-app.scss';
@import './components/rx-navbar/rx-navbar.scss';
@import './components/rx-home/rx-home.scss';

// ROOT STYLES

body {
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;

	margin: 0;
	background: $light-gray;
	display: flex;
	flex-flow: column nowrap;
}

* {
	transition: all 250ms ease-in-out;
	-webkit-tap-highlight-color: transparent;
}

// ANIMATIONS
