
h1 {
	text-align: center;
	color: $dark-blue;

	font-size: 5rem;
}

h2 {
	text-align: center;
	color: $blue;

	font-family: 'Aleo', serif;
	font-size: 1.5rem;
}

.logo {
  width: 100%;
  padding-bottom: 75%;
	min-height: 100px;
	min-width: 100px;
	background: url('./assets/rex_logo_blue.png');
	background-size: 100% 100%;
}