
// Colors

$gray: #516E8A;

$blue: #628EDD;
$blue_dark: darken(saturate(adjust-hue($blue, -6), 11.07), 41.76);

$green: #88A64E;
$green_dark: darken(saturate(adjust-hue($green, 73), 47.09), 29.22);

$rust: rgba(189, 137, 125, 1);
$rust_dark: darken(saturate(adjust-hue($rust, -1), 17.35), 21.57);


// Palette assignments

$primary: #fff;
$secondary: #fff;

$base: $gray;

// Fluorishes

$box-shadow: -3px 3px 15px -3px rgba(0, 0, 0, 0.5);

// Responsive Breakpoints

@mixin mobile-or-tablet { 
	@media 
  // Galaxy S5
  (height: 360px) and (width: 640px), (width: 360px) and (height: 640px),
  // Nexus 5X
  (height: 412px) and (width: 732px), (width: 412px) and (height: 732px),
  // Nexus 6P
  (height: 412px) and (width: 732px), (width: 412px) and (height: 732px),
  // iPhone 5
  (height: 320px) and (width: 568px), (width: 320px) and (height: 568px),
  // iPhone 6
  (height: 375px) and (width: 667px), (width: 375px) and (height: 667px),
  // iPhone 6+
  (height: 414px) and (width: 736px), (width: 414px) and (height: 736px),
  // iPad
  (height: 768px) and (width: 1024px), (width: 768px) and (height: 1024px),
  // iPad pro
  (height: 1024px) and (width: 1366px), (width: 1024px) and (height: 1366px)

  { @content; }
}

