@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

// Typography

@font-face {
  font-family: 'Aleo';
  src: url('./assets/aleo/Aleo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// Colors

$light-gray: #f8f8f8;
$gray: #516E8A;
$dark-gray: #2c2e33;

$blue: #628EDD;
$dark-blue: darken(saturate(adjust-hue($blue, -6), 11.07), 41.76);

$green: #88A64E;
$dark-green: darken(saturate(adjust-hue($green, 73), 47.09), 29.22);

$rust: rgba(189, 137, 125, 1);
$dark-rust: darken(saturate(adjust-hue($rust, -1), 17.35), 21.57);


// Palette assignments



// Fluorishes

$dropdown-shadow: -3px 3px 15px -3px rgba(0, 0, 0, 0.5);

// Responsive Breakpoints

@mixin mobile-or-tablet { 
	@media 
  // Galaxy S5
  (height: 360px) and (width: 640px), (width: 360px) and (height: 640px),
  // Nexus 5X
  (height: 412px) and (width: 732px), (width: 412px) and (height: 732px),
  // Nexus 6P
  (height: 412px) and (width: 732px), (width: 412px) and (height: 732px),
  // iPhone 5
  (height: 320px) and (width: 568px), (width: 320px) and (height: 568px),
  // iPhone 6
  (height: 375px) and (width: 667px), (width: 375px) and (height: 667px),
  // iPhone 6+
  (height: 414px) and (width: 736px), (width: 414px) and (height: 736px),
  // iPad
  (height: 768px) and (width: 1024px), (width: 768px) and (height: 1024px),
  // iPad pro
  (height: 1024px) and (width: 1366px), (width: 1024px) and (height: 1366px)

  { @content; }
}

